.page{
    font-style: oblique;
    margin-top: 20mm;
    margin-left: 50mm;
    margin-right: 50mm;
    height: 26cm;
    left: 12cm;
    background-color: rgb(155, 179, 171);
}

.content{
    margin-left: 15mm;
    margin-top: 5mm;
}

.name{
    text-align: center;
    font-style: oblique;
    font-size: 1cm; 
   
}

.bio{
    text-align: center;
}

.heading{
    font-size: 0.5cm;
    font-style:initial;
    color: blue;
}

.heading2{
    font-size: 0.4cm;
    font-style:initial;
    color: rgb(23, 23, 116);
}